<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
        <!-- Bootstrap CSS -->
        <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <style>
          /* Ensure select / input text is visible inside modal */
          .modal .form-control {
            color: #222 !important;
            background-color: #fff !important;
          }
          .modal .form-control:focus {
            color: #111 !important;
          }
        </style>

        <title>Expense Tracker - Home</title>
    </head>
    <body class="page-bg">
     <div class="bg-nav d-flex flex-column flex-md-row align-items-center pb-0 mb-0 border-bottom">
      <h5 class="m-3 mr-md-auto font-weight-normal"><a href="/" style="text-decoration : none">Expense Tracker - {{ user_name }}</a></h5>

      <nav class="m-2 my-md-0 mr-md-3">
        <a class="py-2 m-2 text-dark" href="/home">Home</a>
        <a class="py-2 m-2 text-dark" href="/analysis">Analysis</a>
        <a class="py-2 m-2 text-dark" href="/profile">Profile</a>
        <a class="py-2 m-2 text-dark" href="/contact">Contact Us</a>
      </nav>
         <a class="btn m-2 btn-outline-warning" href="/logout">Logout</a>
    </div>
     <div>
        {% for message in get_flashed_messages() %}
         <div class="alert alert-warning alert-dismissible fade show" id="alert" role="alert">
                    {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
         {% endfor %}
     </div>

     <!-- Main container-->
     <div class="container ">
        <!-- Tiles row-->
         <div class="row my-2 ">
             <div class="col-md-3">
                 <div class="card deep-purple my-1">
                     <div class="card-body ">
                         <h5 class="text-center">Total Earnings</h5>
                         <h2 class="text-center">₱ {{ earning }}</h2>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="card alive my-1">
                     <div class="card-body ">
                         <h5 class="text-center">Total Spends</h5>
                         <h2 class="text-center">₱ {{ spend }}</h2>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="card citrus my-1">
                     <div class="card-body ">
                         <h5 class="text-center">Total Investments</h5>
                         <h2 class="text-center">₱ {{ invest }}</h2>
                     </div>
                 </div>
             </div>
             <div class="col-md-3">
                 <div class="card green my-1">
                     <div class="card-body ">
                         <h5 class="text-center">Total Savings</h5>
                         <h2 class="text-center">₱ {{ saving }}</h2>
                     </div>
                 </div>
             </div>
         </div>
         <br>


<!--         Table records-->
         <div  class="row mt-3">
             <div class="col-md-8">
                 <div class="row mb-3">
                     <div class="col-md-4">
                         <h4 class="text-white">
                             <i class="material-icons" style="vertical-align: middle; margin-right: 8px;">history</i>
                             Latest 5 Records
                         </h4>
                     </div>
                     <div class="col-md-8 text-right">
                        <button type="button" data-toggle="modal" data-target="#add_record" class="btn btn-primary">
                            <i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">add</i>
                            Add New Record
                        </button>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-12">
                         <table class="table table-dark">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Date</th>
                              <th scope="col">Expense</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Note</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for row in table_data %}
                            <tr>
                              <th scope="row">{{ loop.index }}</th>
                              <td>{{ row[2] }}</td>
                              <td>{{ row[3] }}</td>
                              <td>{{ row[4] }}</td>
                              <td>{{ row[5] }}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                         </table>
                     </div>
                 </div>
             </div>
             {% if df_size==0 %}
         <div>
             <h3>No records found, seems you are a new user</h3>
         </div>
         {% else %}

            <!--  bar chart-->
             <div class="col-md-4 chart_border">
                    <h5 class="text-white mb-3 text-center">Expense Overview</h5>
                    <div id="bar" class="chart" style="min-height: 287px;"></div>
             </div>
         </div>
         <br>
         <br>
         <div class="row ">
            <div class="col-md-7 chart_border">
                <h5 class="text-white mb-3 text-center">Category Breakdown</h5>
                <div id="stack" class="chart m-1" style="min-height: 290px;"></div>
            </div>
              <div class="col-md-5">
                  <div class="row m-1">
                      <div class="col-sm-12">
                          <div class="card card-body m-1 p-1 panel list">
                              <h4 align="center">Monthly Record (₱)</h4>
                              <li>
                                  <h5 class="text-warning">Month</h5>
                                  <span>Income</span>
                                  <span>Spend</span>
                                  <span>Invest</span>
                                  <span>Saving</span>
                              </li>

                              {% for month in monthly_data %}
                              <li>
                                  <h6>{{ month['Month'] }}</h6>
                                  <span>{{ month['Earning'] }}</span>
                                  <span>{{ month['Spend'] }}</span>
                                  <span>{{ month['Investment'] }}</span>
                                  <span>{{ month['Saving'] }}</span>
                              </li>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
         </div>

         <br>
         <br>

         <div class="row">
             <div class="sales">
                 {% for data in card_data %}
                 <div class="text-center">
                    <h5 class="p-0 m-1">{{ data['head'] }}</h5>
                    <h1>{{ data['main'] }}</h1>
                    <small>{{ data['msg'] }}</small>
                 </div>
                 {% endfor %}
             </div>
         </div>
         <br>
         <br>

         <div class="row">
             <div class="col-md-4">
                 <div class="goals">
                     <h5>Monthly Goals <h6>(w.r.t. last month)</h6></h5>
                     {% for goal in goals %}
                        <div class="goal-panel goal">

                                {% if goal['status']=='increased' %}
                                    {% if goal['type']=='Spend' %}
                            <span class="material-icons icon-color-down">
                                            thumb_down
                                    {% else %}
                            <span class="material-icons icon-color-up">
                                        thumb_up
                                    {% endif %}
                                {% else %}
                                    {% if goal['type']=='Spend' %}
                            <span class="material-icons icon-color-up">
                                            thumb_up
                                    {% else %}
                            <span class="material-icons icon-color-down">
                                        thumb_down
                                    {% endif %}
                                {% endif %}
                            </span>
                            <div>
                               <div class="goal-title">
                                    <h6>{{ goal['type'] }}</h6>
                                    <h5>{{ goal['value'] }}</h5>
                               </div>
                                <small>{{ goal['status'] }} by {{ goal['percent'] }}% in this month.</small>
                            </div>
                        </div>
                     {% endfor %}
                 </div>
             </div>
             <div class="col-md-8 goal-panel">
                 <div class="row justify-content-center mb-3">
                     <h3 class="text-center text-white align-center">
                         <i class="material-icons" style="vertical-align: middle;">pie_chart</i>
                         Detailed Analysis Charts
                     </h3>
                 </div>
                 <div class="row my-3">
                     <div class="col-md-4 d-flex flex-column align-items-center mb-3">
                         <h6 class="text-white mb-2">Earnings by Month</h6>
                         <div id="pie11" class="chart" style="min-height: 240px;"></div>
                     </div>
                     <div class="col-md-4 d-flex flex-column align-items-center mb-3">
                         <h6 class="text-white mb-2">Spending by Day</h6>
                         <div id="pie22" class="chart" style="min-height: 240px;"></div>
                     </div>
                     <div class="col-md-4 d-flex flex-column align-items-center mb-3">
                         <h6 class="text-white mb-2">Saving Trends</h6>
                         <div id="pie55" class="chart" style="min-height: 240px;"></div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-4 d-flex flex-column align-items-center mb-3">
                         <h6 class="text-white mb-2">Investments by Year</h6>
                         <div id="pie33" class="chart" style="min-height: 240px;"></div>
                     </div>
                     <div class="col-md-4 d-flex flex-column align-items-center mb-3">
                         <h6 class="text-white mb-2">Saving Categories</h6>
                         <div id="pie44" class="chart" style="min-height: 240px;"></div>
                     </div>
                     <div class="col-md-4 d-flex flex-column align-items-center mb-3">
                         <h6 class="text-white mb-2">Investment Types</h6>
                         <div id="pie66" class="chart" style="min-height: 240px;"></div>
                     </div>
                 </div>
             </div>
         </div>

         {% endif %}
         <br>
         <br>
     </div>

     <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          </a>
          <span class="text-muted">&copy; 2022 Expense Tracker, Inc</span>
        </div>
      </footer>
    </div>

    <script type="text/javascript">
        setTimeout(function () {
                    // Closing the alert
                    $('#alert').alert('close');
                }, 3000);
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script> <!-- Plotly CDN -->

    <script type='text/javascript'>
      // Enhanced graph configuration with interactivity
      var graphConfig = {
        responsive: true,
        displayModeBar: true,
        displaylogo: false,
        modeBarButtonsToRemove: ['lasso2d', 'select2d'],
        toImageButtonOptions: {
          format: 'png',
          filename: 'expense_chart',
          height: 500,
          width: 700,
          scale: 1
        }
      };

      var graphs = {{bar | safe}};
      Plotly.plot('bar', graphs, {}, graphConfig);

      var graphs4 = {{stack_bar | safe}};
      Plotly.plot('stack', graphs4, {}, graphConfig);

      var pie_graph1 = {{pie1 | safe}};
      var pie_graph2 = {{pie2 | safe}};
      var pie_graph3 = {{pie3 | safe}};
      var pie_graph4 = {{pie4 | safe}};
      var pie_graph5 = {{pie5 | safe}};
      var pie_graph6 = {{pie6 | safe}};
      
      Plotly.plot('pie11', pie_graph1, {}, graphConfig);
      Plotly.plot('pie22', pie_graph2, {}, graphConfig);
      Plotly.plot('pie55', pie_graph5, {}, graphConfig);
      Plotly.plot('pie33', pie_graph3, {}, graphConfig);
      Plotly.plot('pie44', pie_graph4, {}, graphConfig);
      Plotly.plot('pie66', pie_graph6, {}, graphConfig);

      // Add resize handler for responsive graphs
      window.addEventListener('resize', function() {
        Plotly.Plots.resize('bar');
        Plotly.Plots.resize('stack');
        Plotly.Plots.resize('pie11');
        Plotly.Plots.resize('pie22');
        Plotly.Plots.resize('pie33');
        Plotly.Plots.resize('pie44');
        Plotly.Plots.resize('pie55');
        Plotly.Plots.resize('pie66');
      });

    </script>

    <!-- modal moved here and Expense Type options added -->
    <div class="modal fade" id="add_record" tabindex="-1" role="dialog" aria-labelledby="addRecordModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:450px;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addRecordModalLabel">
              <i class="material-icons" style="vertical-align: middle; margin-right: 8px;">add_circle</i>
              Add New Expense Record
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; opacity: 0.9;">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form class="form" method="post" action="/home/add_expense">
              <div class="form-group">
                <label for="e_date"><i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">event</i>Date</label>
                <input type="date" class="form-control" id="e_date" name="e_date" required>
              </div>

              <div class="form-group">
                <label for="e_type"><i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">category</i>Expense Type</label>
                <select class="form-control" id="e_type" name="e_type" required>
                  <option value="" selected disabled>Select expense type...</option>
                  <option value="Earning">Earning</option>
                  <option value="Spend">Spend</option>
                  <option value="Investment">Investment</option>
                  <option value="Saving">Saving</option>
                </select>
              </div>

              <div class="form-group">
                <label for="amount"><i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">attach_money</i>Amount (₱)</label>
                <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount" step="0.01" min="0" required>
              </div>

              <div class="form-group">
                <label for="notes"><i class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 5px;">note</i>Category/Note</label>
                <select class="form-control" id="notes" name="notes" required>
                  <option value="" selected disabled>Select category...</option>
                  <optgroup label="Income">
                    <option value="Salary">Salary</option>
                    <option value="Business">Business</option>
                    <option value="Others">Others</option>
                  </optgroup>
                  <optgroup label="Expenses">
                    <option value="Fuel">Fuel</option>
                    <option value="EMI">EMI</option>
                    <option value="Bills">Bills</option>
                    <option value="Medical">Medical</option>
                    <option value="Fees">Fees</option>
                    <option value="Vacation">Vacation</option>
                  </optgroup>
                  <optgroup label="Investments">
                    <option value="Mutual Funds">Mutual Funds</option>
                    <option value="Bonds">Bonds</option>
                    <option value="ETF">ETF</option>
                    <option value="Fixed Deposit">Fixed Deposit</option>
                    <option value="Retirement Plan">Retirement Plan</option>
                    <option value="Real Estate">Real Estate</option>
                  </optgroup>
                  <optgroup label="Savings">
                    <option value="Home Purchase">Home Purchase</option>
                    <option value="Child Saving">Child Saving</option>
                    <option value="Health Account">Health Account</option>
                    <option value="Bank">Bank</option>
                  </optgroup>
                  <option value="Others">Others</option>
                </select>
              </div>

              <div class="form-group mt-4">
                <input type="submit" class="btn btn-primary btn-block btn-lg" id="add" name="add" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>